<div class="container">
    <ul class="list-group">
        <li class="list-group-item active">
            <a id="linkAvion" routerLink="./" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Avion</a>
        </li>
        <li class="list-group-item">
            <a id="linkCrearAvion" routerLink="./crear" routerLinkActive="active">Crear avion</a>
        </li>
        <li class="list-group-item">
            <a id="linkListarAvion" routerLink="./listar" routerLinkActive="active">Listar aviones</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>
  